html{
  font-family: fantasy;
}
.block{
  width: 100%;
}
.hr{
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background:  linear-gradient(
    90deg, white, 
    rgb(133, 200, 245), 
    rgb(149, 205, 243), 
    rgb(159, 188, 207), 
    rgb(255, 255, 255));
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header, .footer{
  width: 100%;
  background: linear-gradient(
    130deg, rgb(31, 97, 141), 
    rgb(54, 130, 180), 
    rgb(17, 61, 90));
    padding: 10px 0;
}

.header-logo{
  width: 300px;
}
.logo-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
}
.tel-icon{
  width: 70px;
}
.header-title{
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: serif;
  margin: 0 20px;
}
.admin-btn{
  width: 150px;
  justify-self: end;
  margin: 0 50px 0 0;
  position: absolute;
  right: 10px;
}
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container{
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}
.search-menu{
  width: 100%;
}
.search-menu> ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.search-menu> ul>li{
  width: 100%;
  margin: 5px;
  padding: 10px;
  color: white;
}
.fac-container{
  display: flex;
  flex-direction: column;
}
.faculity{
  width: 50%;
  height: 5vh;
  outline: none;
  border-radius: 5px;
  border-color: rgb(101, 158, 175);
  box-shadow: 3px 3px 5px 0 rgb(63, 102, 107);
  padding: 5px;
  margin: 15px;
  transition: 0.2s;
}
.faculity:hover{
  background: linear-gradient(
    rgb(234, 245, 248),
    rgb(255, 255, 255),
    rgb(227, 241, 247));
    box-shadow: 3px 3px 5px 0 rgb(158, 191, 196);
}


.search-panel{
  box-shadow: 0 0 25px 5px rgb(20, 62, 82);
  background: linear-gradient(
    130deg, rgb(31, 97, 141), 
    rgb(54, 130, 180), 
    rgb(17, 61, 90));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin: 0 auto 50px; */
}
.search-box{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.form-control{ 
  width: 80%;
  height: 5vh;
  box-shadow: 0 0 10px 0 rgb(26, 96, 126);
  font-size: 15px;
  transition: 0.2s;
}
.search-btn{
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.search-btn>.button{
  width: 100%;
  height: 8vh;
  margin: 10px;
  width: 150px;
}
.btn{
  height: 50px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  box-shadow: 0 0 10px 0 rgb(26, 96, 126);
  background: linear-gradient(
    rgb(108, 161, 197), 
    rgb(30, 68, 94), 
    rgb(51, 90, 116));
  transition: 0.2s;
}
.btn:hover, .form-control:hover{
  box-shadow: 0 0 10px 0 black;
}

.admin-sign{
  margin: 0 auto;
}
.admin-container{
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.486);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exit-sign{
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  background: rgb(35, 95, 119);
  font-size: 50px;
  padding: 0 20px;
}
.sign-admin-panel{
  width: 350px;
  position: relative;
}
.auth-admin>span{
  position: absolute;
}

.auth-admin{
  width: 100%;
  height: 8vh;
  margin: 10px 0;
}
.auth-admin> input, .sign-admin-panel>button{
  height: 5vh;
  display: flex;
  align-items: center;
}
.admin-search{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 120px 0;

}
.search-result{
  padding:10px;
  width: 100%;
  background: rgba(2, 48, 59, 0.356);
}

.admin-reg{
  /* display: flex; */
  flex-direction: column;
}

  
.registe{
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.search-btn-reg{
  display: flex;
  justify-content: center;
}
.register{
  width: 500px;
} 

/* footer */
.footer> .container{
  display: flex;
  justify-content: end;
}

